<header class="flex">
    <div class="flex">
        <span class="flex flex-aic">
            <img class="logo" src="{{rootURL}}assets/pvy.svg" />
        </span>
        <a 
            class="grey"
            href="https://drive.google.com/file/d/1sGw_HO5ZVUUn7LVToB2-2ZNbPGYuCxfO/view?usp=sharing"
            target="_blank"
            download
        >
            {{md-icon "file_download"}} View / Download Resume
        </a>
    </div>
</header>