<div class="flex visiting-card">
    <div class="image">
        <img src="{{rootURL}}assets/prasanna.jpeg" />
    </div>
    <div class="flex flex-rdc flex-jcc flex-aic intro width-100">
        <div class="font-px24 font-100 merri">Prasanna Vijayan T M</div>
        <br>
        <span>Senior software engineer - Frontend</span>
        <span class="flex flex-aic">
            <img src="{{rootURL}}assets/freshworks.png" />
            Freshworks, Inc
        </span>
        <div class="social">
            <a href="https://in.linkedin.com/in/prasannavijayan" target="_blank">Linkedin</a> |
            <a href="https://github.com/prasannavijayan" target="_blank">Github</a> |
            <a href="https://twitter.com/prasannavijayan" target="_blank">Twitter</a>
        </div>
    </div>
</div>